.container{
    width:100%;
    text-align:center;
}
.container > form{
    width: calc(100% / 6);
    display: inline-block;
    vertical-align: top;
    text-align:center;
    margin:2%;
    padding:20px;
}


.container > form > button{
    width: 100px;
    height: 40px;
}

